In [30]:
import os

import pandas as pd
import torch


DATA_DIR = 'data/'
NOTEEVENTS_PATH = os.path.join(DATA_DIR, 'NOTEEVENTS.csv')
ANNOTATION_PATH = os.path.join(DATA_DIR, 'ACTdb102003.csv')
DATASET_PATH = os.path.join(DATA_DIR, 'dataset.csv')

In [31]:
noteevents = pd.read_csv(NOTEEVENTS_PATH)

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3553: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [32]:
noteevents

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...
...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con..."
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...

In [39]:
len(noteevents.ROW_ID.unique()), len(noteevents.SUBJECT_ID.unique()), len(noteevents.HADM_ID.unique())

(2083180, 46146, 58362)

In [33]:
noteevents.columns

Index(['ROW_ID', 'SUBJECT_ID', 'HADM_ID', 'CHARTDATE', 'CHARTTIME',
       'STORETIME', 'CATEGORY', 'DESCRIPTION', 'CGID', 'ISERROR', 'TEXT'],
      dtype='object')

In [34]:
noteevents.CATEGORY.unique()

array(['Discharge summary', 'Echo', 'ECG', 'Nursing', 'Physician ',
       'Rehab Services', 'Case Management ', 'Respiratory ', 'Nutrition',
       'General', 'Social Work', 'Pharmacy', 'Consult', 'Radiology',
       'Nursing/other'], dtype=object)

In [42]:
annotation = pd.read_csv(ANNOTATION_PATH)
annotation

,HADM_ID,SUBJECT_ID,ROW_ID,ADVANCED.CANCER,ADVANCED.HEART.DISEASE,ADVANCED.LUNG.DISEASE,ALCOHOL.ABUSE,BATCH.ID,CHRONIC.NEUROLOGICAL.DYSTROPHIES,CHRONIC.PAIN.FIBROMYALGIA,DEMENTIA,DEPRESSION,DEVELOPMENTAL.DELAY.RETARDATION,NON.ADHERENCE,NONE,OBESITY,OPERATOR,OTHER.SUBSTANCE.ABUSE,SCHIZOPHRENIA.AND.OTHER.PSYCHIATRIC.DISORDERS,UNSURE
0,100103,3365,17170,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JTW,0,0,0
1,100103,3365,17170,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,ETM,0,0,0
2,100137,27290,50828,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JF,0,0,0
3,100137,27290,50828,0,0,0,0,08Apr16,0,0,0,0,0,0,1,0,JW,0,0,0
4,100473,5525,52670,0,0,0,0,18Feb16,0,0,0,0,0,0,1,0,JW,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,199807,23549,2787,0,1,1,0,07Dec15,0,0,0,0,0,0,0,0,ETM,0,0,0
2272,199883,7029,18731,0,0,0,1,18Feb16,0,0,0,0,0,1,0,0,JW,0,0,0
2273,199883,7029,18731,0,0,0,1,18Feb16,0,0,0,0,0,1,0,0,JF,0,0,0
2274,199884,1931,8180,0,1,0,0,16Mar16,0,0,0,1,0,0,0,0,DAG,0,0,0
2275,199884,1931,8180,0,1,0,0,16Mar16,0,0,0,1,0,0,0,0,JW,0,0,0

In [101]:
from collections import defaultdict


counts = defaultdict(int)
disagreement_count = 0

# for (subject_id, hadm_id, row_id, operator_id), df in annotation.groupby(['SUBJECT_ID', 'HADM_ID', 'ROW_ID', 'OPERATOR']):
for (subject_id, hadm_id), df in annotation.groupby(['SUBJECT_ID', 'HADM_ID']):
    counts[len(df)] += 1
    # if len(df) == 6:
    #     display(df[['SUBJECT_ID', 'HADM_ID', 'ROW_ID', 'OPERATOR', 'BATCH.ID', 'ADVANCED.LUNG.DISEASE']])
    labels = df[PHENOTYPE_NAMES].to_numpy()
    disagreement = np.where(np.sum(labels, axis=0) != len(labels), 1, 0) * np.where(np.sum(labels, axis=0) != 0, 1, 0)
    disagreement_count += np.sum(disagreement)

print(f'Number of disagreements: {disagreement_count}')

Number of disagreements: 1113

In [102]:
counts

defaultdict(int,
            {3: 46,
             4: 52,
             2: 680,
             8: 10,
             28: 4,
             6: 8,
             20: 1,
             54: 1,
             16: 5,
             7: 1,
             12: 2,
             5: 1,
             108: 1,
             32: 1})

In [103]:
sum(counts.values())

813